*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* header */
.header {
  display: flex;
  /* space-between distribui o espaço ao redor dos elementos
     de forma igual, mas como o titulo é mais largo que os outros
     conteúdos, os links do meio são deslocados para direita, fazenfo
     com que não fiquem perfeitamente centralizados. Ao invés usamos o
     flex: 1 em cada parte da barra superior, para que seus blocos
     ocupem o mesmo espaço na tela horizontalmente, e posicionamos o
     conteúdo das outras partes de forma que o título fique no início
     e os botões */
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem 0;
}

.header__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  flex: 1;
}

.header__menu {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: center;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__btn-container {
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
}

/* hero section */
.hero {
  text-align: center;
  margin-top: 10rem;
}

.hero__title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -0.05em;
  max-width: 25ch;
  margin-inline: auto;
}

.hero__description {
  font-size: 1.2rem;
  max-width: 60ch;
  margin: 2rem auto;
}

/* pricing */
.pricing {
  margin-top: 10rem;
}

.pricing__title {
  font-size: 2.25rem;
  letter-spacing: -0.05em;
  line-height: 1;
}

.pricing__description {
  font-size: 1.2rem;
  max-width: 45ch;
  margin: 1rem 0;
}

.pricing__container {
  display: flex;
  gap: 2rem;
}

.pricing__box {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  border-radius: 20px;
  flex: 1;
}

.pricing__price {
  font-size: 2rem;
}

.pricing__plan {
  margin: 1rem 0 0.25; /* top left-right bottom */
}

.pricing__plan-description {
  color: #ccc;
}

.pricing__btn {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 2rem 0;
  font-weight: 700;
  border-radius: 1000000px; /* arredondado só nas pontas */
}

.pricing__features {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

/* features */
.features {
  margin-top: 10rem;
  text-align: center;
}

.features__title {
  font-size: 2.25rem;
  letter-spacing: -0.05rem;
  line-height: 1;
}

.features__description {
  font-size: 1.2rem;
  max-width: 45ch;
  margin: 1rem auto;
}

.features__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.features__box {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
}

.features__box-title {
  line-height: 1;
}

.features__box-description {
  margin-top: 1rem;
}

/*  contact */
.contact {
  margin-top: 10rem;
  text-align: center;
}

.contact__title {
  font-size: 2.25rem;
  letter-spacing: -0.05em;
  line-height: 1;
}

.contact__description {
  font-size: 1.2rem;
  max-width: 60ch;
  margin: 1rem auto;
}

/* footer */
.footer {
  margin-top: 10rem;
  text-align: center;
}

.footer__title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* utility class */
.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  justify-content: center;
}

.container {
  width: 90%;
  margin-inline: auto; /* equivalente a margin: 0 auto; */
}
